<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_unlock_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,304},{238,222}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,60},{238,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,292},{300,284}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{300,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,304},{256,252}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,39},{256,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,304},{230,228}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,49},{230,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,304},{230,226}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{230,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{300,288}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{300,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{300,292}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{300,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{300,292}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{300,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,296}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{300,294}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{300,292}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{300,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{260,258}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{260,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_unlock_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,304},{256,252}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{256,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_unlock.png</string>
            <key>size</key>
            <string>{1780,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9932027c6478ebf3d90231fc0bcd74a:945396b7301c55fe2db391b7992cd096:5af5d314c85ff2ff2a28bf8c7c1a6d59$</string>
            <key>textureFileName</key>
            <string>map_unlock.png</string>
        </dict>
    </dict>
</plist>
